# --------------------------------------------------
# 新規作成日 : 2021-02-20
# 作成者     : T. TANAKA
# --------------------------------------------------

# 拡張子が.exeのファイルを除外する
*.exe

# Directory ".history"と、そのDirectory内の全files
/.history/

# --------------------------------------------------
# EOF
# --------------------------------------------------

